*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #fff;
}

html,body{
    width: 100%;
    height: 100%;
}

h1{
    opacity: 1;
    color: #000000;
}


#box{
    width: 10%;
    height: 20%;
    background-color: #000000;
}

#box2{
    width: 10%;
    height: 20%;
    background-color: #30b050;
}